*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* navbar section */
.main{
    width: auto;
    height: 100vh;
    background-image: url('image/tree.jpg');
    background-size: 100% 100%;
}

header{
    display: flex;
    width: auto;
    height: 50px;
    justify-content: space-around;
    align-items: center;
    color: white;
    /* margin: 0 50px; */
}

.text{
    color: rgb(254, 106, 52);

}

ul{
    display: flex;
    list-style: none;

}
li{
    
    margin: 0 50px 0 0;
    transition: .2s;
    cursor: pointer;
}

li:hover{
    color: rgb(243, 135, 95);
}

input[type="text"]{
    color: white;
    padding: 0 10px;
    font-weight: bold;
}
.search{
    border: 1px solid red;
    outline: none;
    background-color: transparent;
    border-radius: 5px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.btn-2{
    width: 50px;
    height: 18px;
    position: relative;
    left: -5px;
    bottom: 1.5px;
    border: none;
    font-size: .5rem;
    font-weight: bold;
    background-color: orange;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

/* body section */

main{
    width: 100%;
    height: 70%;
    border: 1px solid black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container-1{
    width: 50%;
    height: 50%;
    border: 1px solid black;
    color: white;
}

.text-2{
    margin-bottom: 5px;
}

span{
    color: orange;
}

p{
    line-height: 25px;
    margin-bottom: 15px;
}

.btn-1{
    width: 20%;
    height: 15%;
    font-size: .85rem;
    font-weight: bold;
    background-color: rgb(243, 135, 95);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 5ms ease-in-out;
    font-family: Arial, Helvetica, sans-serif;
}
.btn-1:hover{
    color: white;
}


.container-2{
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

